
  <!-- Navbar Start -->
  <app-nav-bar></app-nav-bar>
  <!-- Navbar End -->
    <!-- Property List Start -->
    <div class="container-xxl py-5">
      <div class="container">
          <div class="row g-0 gx-5 align-items-end">
              <div class="col-lg-6">
                  <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                      <h1 class="mb-3">Room Listing</h1>
                      <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit diam justo sed rebum.</p>
                  </div>
              </div>
              <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                  <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                      <li class="nav-item me-2">
                          <button class="btn btn-outline-primary active" data-bs-toggle="pill" (click)="filter(1)" >All</button>
                      </li>
                      <li class="nav-item me-2">
                          <button class="btn btn-outline-primary" data-bs-toggle="pill" (click)="filter(2)" >Available Rooms</button>
                      </li>
                      <li class="nav-item me-0">
                          <button class="btn btn-outline-primary" data-bs-toggle="pill" (click)="filter(3)" >Booked Rooms</button>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="tab-content">
              <div id="tab-1" class="tab-pane fade show p-0 active">
                  <div class="row g-4">
                      <div *ngFor="let hotel of hotelRooms; let i=index;" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                          <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                              <a href=""><img class="img-fluid" src="assets/img/{{hotel.HotelId}}.jpg" alt=""></a>
                              <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3" *ngIf="hotel.RoomsAvailable/hotel.TotalRooms>0.5">Available</div>
                              <div class="bg-warning rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3" *ngIf="(hotel.RoomsAvailable/hotel.TotalRooms<0.5) &&(hotel.RoomsAvailable/hotel.TotalRooms>0)">Filling Fast</div>
                              <div class="bg-danger rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3" *ngIf="hotel.RoomsAvailable/hotel.TotalRooms<=0">Booked</div>
                              <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{hotel.HotelDescription}}</div>
                            </div>
                              <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">{{hotel.PricePerRoom}} RS</h5>
                                  <a class="d-block h5 mb-2" href="">{{hotel.HotelName}}</a>
                                  <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{hotel.HotelAddress}}</p>
                              </div>

                              <a class="btn btn-primary py-2" style="width: 412px;" routerLink="/hotel-detail/{{hotel.HotelId}}">View details
                                <i class="fa fa-eye me-2"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Property List End -->
